body {
    line-height: 1.6;
    font-size: 16px;
    color: #999;
    font-family: serif;
    margin: auto;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/* Main Navigation */
#nav {
    position:right;
    width:620px;
    margin:0 auto;
    margin-top:50px;
    padding:10px;
}
 
ul#navigation {
    margin:0px auto;
    position:relative;
    float:right;
}
 
ul#navigation li {
    display:inline;
    font-family: serif;
    font-size:14px;
    font-weight:regular;
    margin:0;
    padding:0;
    float:left;
    position:relative;
}
 
ul#navigation li a {
    padding:10px 25px;
    color:#999;
    text-decoration:none;
    display:inline-block;
 
    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}
 
ul#navigation li a:hover {
    color:#999;
    background:#c9c9c9;
}
 
ul#navigation li:hover > a {
    background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f0f0f0;
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px;
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
}
 
ul#navigation ul li a {
    background:#fff;
    padding:7px 15px;
    color:#999;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    clear:both;
    width:150px;
}

body .last {
  color: #999;

}

header {
    padding-top: 32px;
    padding-bottom: 10px;
    text-align: center;
}

main {
    margin-top: 10px;
    flex-grow: 1;
}

a {
    color: #999;
}

article .date {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #999;
    text-align: center;
}

article .author {
    color: #999;
    text-align: right;
}

article dl dt {
    display: none;
}

article dl dd {
    display: inline;
    margin-left: 0;
}

article hr {
    border: 0.3px solid #e8e8e8;
}

.aside {
    color: #999;
}

.aside a {
    color: #999;
}

main {
    margin-bottom: 50px;
}

main img {
    max-width: 700px;
    display: block;
    margin: auto;
    padding: 20px 0 20px 0;
}

h2,
h3 {
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#title {
    display: inline;
}

img#journal {
    max-width: 100%;
    display: block;
    margin: 0 0 10px
}

main figure:first-child img { 
    margin-left:-30px;
    max-width:calc(100vw - 15px);
    width:800px 
}

main figure > * { 
    margin-bottom:30px 
}

main figure > div > * { 
    margin-bottom:30px 
}

main figure figcaption { 
    max-width:400px 
}

blockquote {
    /* background: #f9f9f9; */
    font-style: italic;
    font-family: serif;
    /* border-left: 5px solid #ccc; */
    margin: 2em 10px;
    padding: 0.5em 10px;
}

pre {
    background:#f0f0f0;
    padding:20px;
    font-family: monospace;
    font-size: 14px;
}

#projects ul li {
    margin-bottom: 10px;
}

#links ul li {
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 40px;
    width: 100%;
    text-align: right;
    font-weight: 200;
    align-self: flex-end;
}

footer .icon {
    width: 24px;
    margin-right: 5px;
}
